%h1 Blogs
%hr

.container
	.pull-right
		= link_to "New Blog", new_blog_path, class: "btn btn-success"

.row
	- @blogs.each do |blog| 
		.col-sm-4
			.panel.panel-primary
				.panel-heading
					%h3.panel-title= link_to blog.title, blog_path(blog)
				.panel-body
					= truncate_content(blog.excerpt)