.bg2 {
	background-color: #FAFAFA;
}

.post {
	border-width: 1px 1px 2px;
	margin-bottom: 20px;
	padding: 0 20px;
}

.postbody {
	line-height: 1.5em;
	width: 85%;
	float: left;
	clear: both;
	font-size: 10px;
	padding: 0 20px 0 0;

	h3 {
		color: #007FBE;
		padding: 20px 0 9px;
		margin: 0;
		text-transform: none;
		border: none;
		line-height: 1;
		font-weight: 400;
	}

	p.author {
		color: #A5A5A5;
		margin: 0;
		padding: 0 0 6px;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		line-height: 1;
	}

	.content {
		font-size: 1.3em;
		margin-top: 18px;
		min-height: 175px;
		text-align: justify;
		color: #373737;
		overflow: hidden;
		line-height: 1.5;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 1.3em;
	}

}

.postprofile {
	color: #7C7C7C;
	margin: 20px 0;
	min-height: 80px;
	width: 15%;
	float: right;
	display: inline;

	dt, dd {
		line-height: 1.5;
		font-size: 1.1em;
		text-align: center;
	}

	.forum-profile-pic {
		height: 80px;
		width: 80px;
		border-radius: 50%;
	}

	strong {
		color: #7C7C7C;
		font-weight: 700;
	}

	.username-coloured {
		color: #AA0000;
		font-weight: 700;
		display: inline !important;
		padding: 0 !important;
	}
}

.discussion {
	border-radius: 2px;
	
	ul {
		margin-top: 0;
		margin-bottom: 10px;
		list-style: none;
	}

	.item {
		margin: 0;
		position: relative;
		background: #FAFAFA;
		border-right: 1px solid #ECECEC;
		border-left: 6px solid #fff;
		border-bottom: 1px dashed #E5E5E5;
		padding: 20px;
		padding-left: 18px;

		.user-profile {
			float: left;
			position: relative;
			line-height: 1;
			
			img {
				border-radius: 50px;
				height: 45px;
				width: 45px;
			}
		}

		a {
			outline: none;
			transition: all 0.4s; 
		}

		.title {
			margin-left: 65px;
			display: block;

			a {
				font-size: 14px;
				color: #333333;
				font-weight: 600;
				font-family: 'Open Sans';
			}
		}

		.meta {
			margin-left: 55px;
			font-size: 11px;
			color: #70727c;
			margin-top: 2px;
			
			.mitem {
				font-size: 13px;
				margin-left: 8px;
				margin-right: 8px;
				white-space: nowrap;
			}
		}
	}
}